# 忽略文件
.idea
*.iml
/book
/books
/book_end
node_modules
package-lock.json
yarn-error.log
/config
/config/redis.js
/config/sql.js
urlLog.log
/yarn-error.log
/adminApi/log
/adminApi/upload
/adminApi/public/img
